<?xml version='1.0' encoding='UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5">
    <display-name>SkifTestWSWebApp</display-name>
    <listener>
        <listener-class>no.statkart.skif.skiftest.config.SkifTestGroup1ServicesEJBs</listener-class>
    </listener>
    <listener>
        <listener-class>no.statkart.skif.skiftest.config.SkifTestGroup2ServicesEJBs</listener-class>
    </listener>
    <listener>
        <listener-class>no.statkart.skif.skiftest.config.SkifTestGroupABCDServicesEJBs</listener-class>
    </listener>
    <listener>
        <listener-class>no.statkart.skif.skiftest.config.SkifTestGroupExServicesEJBs</listener-class>
    </listener>
    <listener>
        <listener-class>no.statkart.skif.skiftest.wsapi.config.SkifTestWebServiceInjectorConfig</listener-class>
    </listener>

    <listener>
        <listener-class>no.statkart.skif.skiftest.config.SkifTestTxManagementServicesEJBs</listener-class>
    </listener>
    <listener>
        <listener-class>no.statkart.skif.skiftest.config.SkifTestSequenceBlockAllocatorServicesEJBs</listener-class>
    </listener>
    <listener>
        <listener-class>no.statkart.skif.skiftest.wsapi.config.SkifTestTxManagementWebServiceInjectorConfig</listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>WebServices</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>grunnbokuser</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>default</realm-name>
    </login-config>
    <security-role>
        <role-name>grunnbokuser</role-name>
    </security-role>
</web-app>