<?xml version='1.0' encoding='UTF-8'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <display-name>SkifWSVersioningV1WebApp</display-name>
    <listener>
        <listener-class>no.statkart.skif.wsversioning.config.WSVersioningServicesEJBs</listener-class>
    </listener>
    <listener>
        <listener-class>no.statkart.skif.wsversioning.config.WSVersioningCompatServicesV1EJBs</listener-class>
    </listener>

    <listener>
        <listener-class>no.statkart.skif.wsversioning.wsapi.v1.config.WSVersioningWebServiceInjectorConfig
        </listener-class>
    </listener>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>WebServices</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Innsyn</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>default</realm-name>
    </login-config>
    <security-role>
        <role-name>Innsyn</role-name>
    </security-role>
</web-app>