<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
     ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %-45logger{45} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>skif.log</file>
        <encoder>
            <pattern>%d{ISO8601} %-5level %-45logger{45} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.hibernate.util.DTDEntityResolver" level="ERROR"/>
    <logger name="no.statkart.skif.service.logging.DefaultServerCallLogger" level="info"/>
    <logger name="no.statkart.skif.service.logging.DefaultClientCallLogger" level="info"/>

    <!-- Hibernate logging av sql. Trenger ikke å sette show_sql=true. Sett level til debug -->
    <logger name="org.hibernate.SQL" level="debug" additivity="true"/>

    <!-- Hibernate logging av sql parametre -->
    <!--logger name="org.hibernate.type" level="trace" additivity="true"/>
    <logger name="org.hibernate.type.BasicTypeRegistry" level="warn" additivity="true"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="info" additivity="true"/>
    <logger name="org.hibernate.type.TypeFactory" level="debug" additivity="true"/>
    <logger name="no.statkart.skif.store.persistence.hibernate" level="trace" additivity="true"/-->

    <!-- Hibernate logging av batching -->
    <!--<logger name="org.hibernate.jdbc.AbstractBatcher" level="debug" additivity="true"/>-->

    <!--<logger name="no.statkart.skif.persistence.hibernate.EmptyCollectionsOptimizer" level="debug" additivity="true"/>-->

    <!-- end-hibernate -->

    <!-- <logger name="no.statkart.skif.mapper" level="debug" additivity="true"/> -->
</configuration>
